*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;}

    header{
background-color: #EAC926;
width: 100vw;
}
header .buscador p {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    text-align: left;         
}

header .buscador i {
    background-color: #fff;
    border: 1px solid #000;  
}
header p {
    text-align: center;
}
header nav ul li  {
    
    list-style-type: none;
}
header nav ul {
    margin-bottom: 0;
}
header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

header div.burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

header nav {
    display: none
}

main section article  div p.precio {
    font-size: 18px;
    width:30%;
 }

 main section article div p.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    }

main section h3 {
    font-size: 24px;  
}

footer section {
    text-align: center;
}
footer h4 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #666;
}

footer p {
    font-size: 12px;
    color: #666
}
footer i {
    color:#1259c3;
    size: 2em;
}

footer section p.copyright {
    text-align: left;

}

main {
    text-align: center;
    width: 100vw
}

main img {
    width:100vw;
}
.banner {
    width: 100vw;
}

main section article {
    margin-bottom: 10px;
    
}

.info-producto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main section article div i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right:20px;
    top:-15px;
}


.desc-prod {
    display: none;
}

@media (min-width: 361px) {
        .desc-prod {
            display: block;
        }
        main section article {
            box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
        }
        header div.burger-menu{
            display: none;
        }
        header nav{
            display: block
        }

    }
@media (min-width: 769px  ){
        
    }
    