@import url(register.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;}

    /*header*/
    .logoML {
        width: 50%;
        padding: 10px
    }
    header{
background-color: #EAC926;
width: 100vw;
}


.logo-buscador {
display: flex;
flex-wrap: wrap;
padding: 5%;
justify-content: space-around;
}



.buscador {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px
}

.barra-buscador {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5%;
    color: #666;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

header .buscador i {
    background-color: #fff;
    border: 1px solid #000;
    margin-left: 2px;
    padding: 1px; 
    height: 20px;
    
}

.barra-cuotas {
    display: flex;
    justify-content: center;
}
.barra-cuotas i {
    width: 10vw;
}
.barra-cuotas-text {
    font-size: 16px;
}
header nav ul li  {
    list-style-type: none;
}
header nav ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 42%;
}
header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

header div.burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

header div.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: none
}

main section article  div p.precio {
    font-size: 18px;
    width:30%;

 }

 main section article div p.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    }

main section h3 {
    font-size: 24px;  
}

footer section {
    text-align: center;
}
footer h4 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #666;
}

footer p {
    font-size: 12px;
    color: #666
}
footer i {
    color:#1259c3;
    size: 2em;
    margin-bottom: 10px;
}

footer section p.copyright {
    text-align: left;

}

main {
    text-align: center;
    width: 100vw
}

main section article img  {
    width: 100%;
}
.banner {
    width: 100vw;
}

main section article {
    margin-bottom: 10px;
    transition: all 0.3s;
}

.info-producto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main section article div i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    color: #39b54a;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right:20px;
    top:-15px;
    transition: all 0.3s;
}


.desc-prod {
    display: none;
    
}

.bloques-footer {
    margin-bottom: 15px;
    
}


@media (min-width: 361px) {
        .desc-prod {
            display: block;
        }
        .productos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

        }
        main section article {
            width: 45%;
        }
        header div.burger-menu{
            display: none;
        }
        header nav{
            display: flex;
            justify-content: space-between;

        }

    }
@media (min-width: 769px  ){
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    main section article {
        width: 22.5%;
    }
    .desc-prod {
        display: none;
    }
    article:hover .desc-prod {
        display: block;
       }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    article:hover i {
        transform: rotate(-90deg);
    }
    .anuncios {
        display: flex;
    }

    footer section:hover  i {
        color: #39b54a
    } 

    }
  
